In [7]:
import pandas as pd

In [8]:
a = pd.read_csv("Tweets_Articles_sentiment2.csv")
b = pd.read_csv("Stock_Prediction_Actual1.csv")

In [9]:
b

    Actual        Date  Prediction
0        1  2017-03-14           0
1        0  2017-03-15           0
2        1  2017-03-16           1
3        1  2017-03-17           0
4        1  2017-03-20           0
5        1  2017-03-21           1
6        0  2017-03-22           1
7        1  2017-03-23           1
8        1  2017-03-24           1
9        1  2017-03-27           0
10       0  2017-03-28           1
11       0  2017-03-29           1
12       0  2017-03-30           0
13       1  2017-03-31           0
14       1  2017-04-03           0
15       0  2017-04-04           1
16       1  2017-04-05           1
17       0  2017-04-06           0
18       1  2017-04-07           1
19       0  2017-04-10           0
20       1  2017-04-11           0
21       1  2017-04-12           0
22       1  2017-04-13           1

In [10]:
# b = b.dropna(axis=1)
merged = a.merge(b, on='Date')

In [21]:
merged

,Date,Neg_A_Sentiment,Neut_A_Sentiment,Number_of_Articles,Pos_A_Sentiment,Neg_T_Sentiment,Neut_T_Sentiment,Number_of_Tweets,Pos_T_Sentiment,Actual,Prediction
0,2017-03-14,0.000,0.0,0,1.000,0.231638,0.491525,177,0.276836,1,0
1,2017-03-15,0.000,0.0,0,1.000,0.112583,0.582781,151,0.304636,0,0
2,2017-03-16,0.000,0.0,0,1.000,0.177419,0.443548,124,0.379032,1,1
3,2017-03-17,0.000,0.0,0,1.000,0.200000,0.400000,85,0.400000,1,0
4,2017-03-20,0.000,0.0,0,1.000,0.174757,0.563107,103,0.262136,1,0
5,2017-03-21,0.000,0.0,0,1.000,0.142857,0.523810,63,0.333333,1,1
6,2017-03-22,0.000,0.0,0,1.000,0.000000,0.000000,0,0.000000,0,1
7,2017-03-23,0.000,0.0,0,1.000,0.000000,0.000000,0,0.000000,1,1
8,2017-03-24,0.000,0.0,0,1.000,0.000000,0.000000,0,0.000000,1,1
9,2017-03-27,0.000,0.0,0,1.000,0.000000,0.000000,0,0.000000,1,0
10,2017-03-28,0.000,0.0,0,1.000,0.000000,0.000000,0,0.000000,0,1
11,2017-03-29,0.000,0.0,0,1.000,0.000000,0.000000,0,0.000000,0,1
12,2017-03-30,0.000,0.0,0,1.000,0.000000,0.000000,0,0.000000,0,0
13,2017-03-31,0.000,0.0,0,1.000,0.100000,0.500000,50,0.400000,1,0
14,2017-04-03,0.000,0.0,6,1.000,0.206107,0.488550,131,0.305344,1,0
15,2017-04-04,0.000,0.0,3,1.000,0.141509,0.528302,106,0.330189,0,1
16,2017-04-05,0.000,0.0,3,1.000,0.089552,0.641791,134,0.268657,1,1
17,2017-04-06,0.125,0.0,8,0.875,0.194030,0.582090,134,0.223881,0,0
18,2017-04-07,0.200,0.0,5,0.800,0.158879,0.607477,107,0.233645,1,1
19,2017-04-10,0.000,0.0,3,1.000,0.170000,0.550000,100,0.280000,0,0
20,2017-04-11,0.000,0.0,4,1.000,0.246032,0.476190,126,0.277778,1,0
21,2017-04-12,0.000,0.0,3,1.000,0.172727,0.618182,110,0.209091,1,0
22,2017-04-13,0.250,0.0,8,0.750,0.153846,0.589744,78,0.256410,1,1

In [12]:


df = merged

merged.to_csv("Tweets_Articles_StockP_Act2.csv", index=False)
df

,Date,Neg_A_Sentiment,Neut_A_Sentiment,Number_of_Articles,Pos_A_Sentiment,Neg_T_Sentiment,Neut_T_Sentiment,Number_of_Tweets,Pos_T_Sentiment,Actual,Prediction
0,2017-03-14,0.000,0.0,0,1.000,0.231638,0.491525,177,0.276836,1,0
1,2017-03-15,0.000,0.0,0,1.000,0.112583,0.582781,151,0.304636,0,0
2,2017-03-16,0.000,0.0,0,1.000,0.177419,0.443548,124,0.379032,1,1
3,2017-03-17,0.000,0.0,0,1.000,0.200000,0.400000,85,0.400000,1,0
4,2017-03-20,0.000,0.0,0,1.000,0.174757,0.563107,103,0.262136,1,0
5,2017-03-21,0.000,0.0,0,1.000,0.142857,0.523810,63,0.333333,1,1
6,2017-03-22,0.000,0.0,0,1.000,0.000000,0.000000,0,0.000000,0,1
7,2017-03-23,0.000,0.0,0,1.000,0.000000,0.000000,0,0.000000,1,1
8,2017-03-24,0.000,0.0,0,1.000,0.000000,0.000000,0,0.000000,1,1
9,2017-03-27,0.000,0.0,0,1.000,0.000000,0.000000,0,0.000000,1,0
10,2017-03-28,0.000,0.0,0,1.000,0.000000,0.000000,0,0.000000,0,1
11,2017-03-29,0.000,0.0,0,1.000,0.000000,0.000000,0,0.000000,0,1
12,2017-03-30,0.000,0.0,0,1.000,0.000000,0.000000,0,0.000000,0,0
13,2017-03-31,0.000,0.0,0,1.000,0.100000,0.500000,50,0.400000,1,0
14,2017-04-03,0.000,0.0,6,1.000,0.206107,0.488550,131,0.305344,1,0
15,2017-04-04,0.000,0.0,3,1.000,0.141509,0.528302,106,0.330189,0,1
16,2017-04-05,0.000,0.0,3,1.000,0.089552,0.641791,134,0.268657,1,1
17,2017-04-06,0.125,0.0,8,0.875,0.194030,0.582090,134,0.223881,0,0
18,2017-04-07,0.200,0.0,5,0.800,0.158879,0.607477,107,0.233645,1,1
19,2017-04-10,0.000,0.0,3,1.000,0.170000,0.550000,100,0.280000,0,0
20,2017-04-11,0.000,0.0,4,1.000,0.246032,0.476190,126,0.277778,1,0
21,2017-04-12,0.000,0.0,3,1.000,0.172727,0.618182,110,0.209091,1,0
22,2017-04-13,0.250,0.0,8,0.750,0.153846,0.589744,78,0.256410,1,1